@import 'variable';


@mixin timelineBadge($align: 'left') {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $badge-regular;
    height: $badge-regular;
    background-color: $blue;
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    @each $name, $color in $badge-colors {
        &.#{$name} {
            background-color: $color;
        }
    }
    &.small {
        width: $badge-small;
        height: $badge-small;
        font-size: $badge-font-small;
    }
    &.regular {
        width: $badge-regular;
        height: $badge-regular;
        font-size: $badge-font-regular;
    }
    &.large {
        width: $badge-large;
        height: $badge-large;
        font-size: $badge-font-large;
    }
    @if $align == 'left' {
        right: 0;
        top: $badge-top;
        transform: translate(50%, -50%);
    } @else if $align == 'center' {
        left: 50%;
        transform: translate(-50%, -50%)
    } @else {
        left: 0;
        top: $badge-top;
        transform: translate(-50%, -50%);
    }
}

@mixin timelineGroup($align: 'left') {
    list-style: none;
    flex: 1;
    padding: 20px 15px 20px 15px;
}

@mixin timelineContentBox($align: 'left') {
    position: relative;
    border: 1px solid $gray-300;
    border-radius: 2px;
    background: $white;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(100, 100, 100, 0.2);
    @if $align == 'left' {
        margin-right: 50px;
    } @else if $align == 'center' {
        margin-right: 0;
        min-width: 320px;
        text-align: center;
    } @else {
        margin-left: 50px;
    }
    @each $name, $color in $content-colors {
        &.#{$name} {
            background-color: $color;
            color: map-get($content-text-colors, #{$name});
        }
    }
    .timeline-title {
        h4 {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
    .timeline-content {
        font-size: 14px;
    }
    &::before {
        width: 15px;
        height: 15px;
        content: '';
        border-bottom: 1px solid $gray-300;
        border-left: 1px solid $gray-300;
        background-color: inherit;
        position: absolute;
        top: $badge-top;
        @if $align == 'left' {
            right: 0;
            transform: translate(50%, -50%) rotate(-135deg);
        } @else if $align == 'center' {
            display: none;
        } @else {
            left: 0;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
}

@mixin timelineItem($align: 'left') {
    position: relative;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    .timeline-item-date {
        display: flex;
        justify-content: center;
        flex: 1;
        position: relative;
        .time-date {
            position: absolute;
            top: $badge-top;
            font-size: 14px;
            @if $align == 'left' {
                left: 90px;
                transform: translate(-50%, -50%);
            } @else if $align == 'center' {
                display: none;
            } @else {
                right: 90px;
                transform: translate(50%, -50%);
            }
        }
    }
    .timeline-item-content {
        flex: 1;
        position: relative;
    }
    @if $align == 'left' {
        flex-direction: row-reverse;
    } @else if $align == 'center'{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@mixin timeline() {
    position: relative;
    width: 100%;
    background-color: $timeline-bg;
    box-sizing: border-box;
    display: flex;
    &::before {
        width: 2px;
        height: 100%;
        display: block;
        position: absolute;
        background: $gray;
        content: '';
        left: 50%;
        transform: translateX(calc(-100% + 1px));
    }
}

@mixin timelineContentDate ($align: 'left') {
    position: absolute;
    top: 3px;
    font-size: 12px;
    @if $align == 'left' {
        left: 3px;
    } @else if $align == 'center' {
        left: 3px;
    } @else {
        right: 3px;
    }
}

@mixin timelineStyle($align: 'left') {
    @include timeline($align);
    .timeline-section {
        flex: 1;
        .timeline-group {
            @include timelineGroup($align);
            .timeline-item.#{$align} {
                @include timelineItem($align);
                .content-box {
                    @include timelineContentBox($align);
                    .time-date {
                        @include timelineContentDate($align);
                    }
                }
                .badge {
                    @include timelineBadge($align)
                }
            }
        }
    }
}

@mixin timelineAlignItem ($align: 'left') {
    .timeline-item.#{$align} {
        @include timelineItem($align);
        .content-box {
            @include timelineContentBox($align);
            .time-date {
                @include timelineContentDate($align);
            }
        }
        .badge {
            @include timelineBadge($align)
        }
    }
}

@mixin timelineHr () {
    .timeline-hr {
        width: 100%;
        border: 1px solid dashed;
    }
}

.timeline {
    @include timeline();
    .timeline-section {
        flex: 1;
        .timeline-group {
            @include timelineGroup();
            @include timelineAlignItem('left');
            @include timelineAlignItem('right');
            @include timelineAlignItem('center');
        }
    }
}
